<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860217651115-mp44adgf1rjvj1t7o606ap4f05qv2lgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860217651115-mp44adgf1rjvj1t7o606ap4f05qv2lgl</string>
	<key>API_KEY</key>
	<string>AIzaSyCsG0JaPCbGSdYVr3s2UpbvnL6aPNSrED4</string>
	<key>GCM_SENDER_ID</key>
	<string>860217651115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Meroglu.Instant-Chat</string>
	<key>PROJECT_ID</key>
	<string>instant-chat-2b475</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-chat-2b475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860217651115:ios:5ca916940e4ba5bc4f6cee</string>
	<key>DATABASE_URL</key>
	<string>https://instant-chat-2b475.firebaseio.com</string>
</dict>
</plist>